<h1 class="text-xl my-5 ml-7">Products</h1>
<div
  class="mx-7 border py-3 px-7 rounded-md border-iron-fox-dark-gray hover:border-iron-fox-light-gray bg-iron-fox-accent cursor-pointer"
  onclick="window.location.href='/fox-trace';"
>
  <h2 class="my-5 text-iron-fox-cyan">Fox Trace</h2>
  <p class="text-iron-fox-dark-gray text-sm font-thin mb-5">
    Leverages advanced algorithms and blockchain analytics to uncover hidden
    trails, identify malicious actors, and provide actionable insights. It
    empowers crypto enthusiasts, security professionals, and law enforcement
    agencies to do stuff.
  </p>
</div>
