<header
  class="bg-iron-fox text-iron-fox-light-gray border-b border-iron-fox-dark-gray"
>
  <div class="flex justify-between py-3 mx-10">
      <div class="flex justify-start border-iron-fox-cyan-dark pr-7 ">
        <img class="mr-2 rounded-full" src="logo.jpg" alt="Logo" width="55" />
        <h1 class="text-md text-iron-fox-cyan my-auto">
          <div>
            <div>
              Iron Fox <span class="text-white font-thin">Forensics</span>
            </div>
            <div class="text-xs font-thin text-iron-fox-dark-gray">
              Blockchain Forensics, Made for Everyone
            </div>
          </div>
        </h1>
      </div>
      <div class=" flex justify-end font-thin text-sm ">
        <div class="text-iron-fox-light-gray my-4 font-thin  hover:text-iron-fox-cyan-dark cursor-pointer mr-10">resources</div>
        <div class="text-iron-fox-light-gray my-4 font-thin  hover:text-iron-fox-cyan-dark cursor-pointer mr-10">account</div>
        <div class="text-iron-fox-light-gray my-4 font-thin  hover:text-iron-fox-cyan-dark cursor-pointer ">sign up</div>

    <!-- <div>{{button}}</div> -->
  </div>
</header>
