<header
  class="bg-iron-fox text-iron-fox-light-gray border-b border-iron-fox-dark-gray"
>
  <div class="flex justify-between py-3 mx-8">
    <div class="flex">
      <div class="flex justify-start border-iron-fox-cyan-dark pr-7 border-r">
        <img class="mr-2 rounded-full" src="logo.jpg" alt="Logo" width="55" />
        <h1 class="text-md text-iron-fox-cyan my-auto">
          <div>
            <div>
              Iron Fox <span class="text-white font-thin">Forensics</span>
            </div>
            <div class="text-xs font-thin text-iron-fox-dark-gray">
              Blockchain Forensics, Made for Everyone
            </div>
          </div>
        </h1>
      </div>
      <div class="ml-7 flex justify-start font-thin text-sm">
        <div class="my-auto">resources</div>
        <div class="my-auto mx-5">account</div>
      </div>
      <div class="flex">
        <div
          id="generate-report-button"
          class="text-iron-fox-light-gray my-4 font-thin underline hover:text-iron-fox-cyan-dark cursor-pointer text-sm"
        >
          sign up
        </div>
      </div>
    </div>

    <!-- <div>{{button}}</div> -->
  </div>
</header>
