<header
  class="bg-iron-fox text-iron-fox-light-gray border-b border-iron-fox-dark-gray"
>
  <div class="flex justify-between py-3 mx-4">
    <div class="flex justify-start">
      <img class="mr-2 rounded-full" src="logo.jpg" alt="Logo" width="55" />
      <h1 class="text-md text-iron-fox-cyan my-auto">
        <div>
          <div >Iron Fox</div>
          <div class="text-white font-thin">Forensics</div>
        </div>
      </h1>
    </div>
    <!-- <div>{{button}}</div> -->
    <div class="flex">
      <div class="my-auto">resources</div>
      <div class="my-auto mx-4">account</div>

      <button
        id="generate-report-button"
        class="bg-iron-fox-cyan-dark text-iron-fox-light-gray rounded-lg hover:bg-iron-fox- hover:shadow-md hover:shadow-iron-fox-cyan/50 my-3 px-1"
      >
        sign up
      </button>
    </div>
  </div>
</header>
