<h1 class="text-xl my-5 ml-7">Our Mission</h1>
<div class="flex flex-wrap gap-5 mb-5 mx-7">
  <div
    class="w-full sm:flex-1 sm:min-w-[calc(50%-10px)] border py-3 px-7 rounded-md border-iron-fox-dark-gray hover:border-iron-fox-light-gray bg-iron-fox-accent cursor-pointer"
  >
    <h2 class="my-5 text-iron-fox-cyan">Empowering Individuals</h2>
    <p class="text-iron-fox-dark-gray text-sm font-thin mb-5">
      Iron Fox Forensics is dedicated to supporting anyone who has had their
      cryptocurrency stolen, whether through malware, phishing, or other means.
      We ensure that justice and blockchain security are within reach for
      everyone, regardless of their circumstances.
    </p>
  </div>

  <div
    class="w-full sm:flex-1 sm:min-w-[calc(50%-10px)] border py-3 px-7 rounded-md border-iron-fox-dark-gray hover:border-iron-fox-light-gray bg-iron-fox-accent cursor-pointer"
  >
    <h2 class="my-5 text-iron-fox-cyan">Comprehensive Reporting</h2>
    <p class="text-iron-fox-dark-gray text-sm font-thin mb-5">
      Our app provides detailed reports that track where stolen funds have gone,
      identify potential cash-out locations, and uncover other critical
      insights. These reports empower users with the information they need to
      take action.
    </p>
  </div>
</div>

<div
  class="flex-1 min-w-[calc(50%-10px)] border py-3 px-7 mx-7 rounded-md border-iron-fox-dark-gray hover:border-iron-fox-light-gray bg-iron-fox-accent cursor-pointer"
>
  <h2 class="my-5 text-iron-fox-cyan">
    Setting a New Standard for Blockchain Security
  </h2>
  <p class="text-iron-fox-dark-gray text-sm font-thin mb-5">
    We are committed to redefining blockchain security as transparent,
    inclusive, and open to all. At Iron Fox Forensics, we believe that the
    promise of blockchain’s openness should extend to its security, ensuring
    that no one is left behind.
  </p>
</div>
</div>

<!-- Iron Fox Forensics is committed to empowering anyone who has had their cryptocurrency stolen—whether through malware, phishing, or other means—by providing an accessible and affordable solution to uncover the truth. Our app generates comprehensive reports detailing where stolen funds have gone, potential cash-out locations, and other critical insights. -->
<!-- Powered by a database of known attacker and cash-out accounts, and leveraging advanced recursive static analysis, Iron Fox Forensics makes sense of even the most complex blockchain trails, giving users the tools to take action. -->
<!-- Our mission is to set a new standard for blockchain security—accessible, transparent, and open to all—because the promise of blockchain belongs to everyone. -->
